@if (editStatus==false) {
  <article>
    <header>

      <h6 class="small"> Owner :  {{owner.ownerFirstName}} {{owner.ownerSurname}}</h6>

    </header>
    <header>
      <ul>
        @for (item of owner.ownerContactDetails.contactPhoneNumbers; track item) {
          <li>
            <h6 class="small"> {{item.phoneType}} : {{item.phoneNumber}}</h6>
          </li>
        }
      </ul>
    </header>
  </article>
}

@else {
<article class="tiny-padding">
  <header class="no-margin">

    <h6 class="small"> &nbsp; &nbsp; Owner

      <button class="small absolute right" (click)="selectExistingOwner()">
        Select an existing owner
      </button></h6>

    </header>
    <div class="field label small-margin border">
      <input class="small myedit max" type="text" [(ngModel)]="owner.ownerFirstName">
      <label>First name</label>
    </div>
    <div class="field label small-margin border">
      <input class="small myedit max" type="text" [(ngModel)]="owner.ownerSurname">
      <label>Surname</label>
    </div>
  </article>

  <div class="space"></div>

  <div class="surface-container small-round">
    <ul>
      @for (item of allPhoneNumbers; track item) {
        <li>
          <a class="padding">
            <button class="circle small red" (click)="removePhoneContact(item)"><i>remove</i></button>
            <!--{{item.phoneType}} &nbsp;-->
            <div class="field suffix no-padding no-margin">
              <select id="selectPhoneType" [(ngModel)]="item.phoneType">
                <@for (phType of allPhoneTypes; track phType) {
                <option [selected]="phType == item.phoneType">
                  {{phType}}

                </option>
              }
            </select>
            <i>arrow_drop_down</i>
          </div>
          <div class="field fill no-padding no-margin">
            <input type="text" class="small myedit" placeholder="Phone" [(ngModel)]="item.phoneNumber">
          </div>
        </a>
        <hr>
        </li>
      }
      <li>
        <a class="padding">
          <button class="circle small green" (click)="addPhoneContact()"><i>add</i></button> Add phone
        </a>
      </li>
    </ul>
  </div>

}

<!--This modal box is enabled after selectExistingOwners has been clicked-->
@if (isExistingOwnerModalVisible) {
  <app-owner-search (close)="hideModal()"></app-owner-search>
}




