<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<body class="dark">
  <nav class="left drawer l">
    <header>
      <nav>
        <img src="https://www.beercss.com/favicon.png" class="circle">
        <h6>Cheers</h6>
      </nav>
    </header>
    <a>
      <i>home</i>
      <div>Home</div>
    </a>
    <a>
      <i>search</i>
      <div>Search</div>
    </a>
    <a>
      <i>sound_detection_dog_barking</i>
      <div>Dogs</div>
    </a>
    <a>
      <i>more_vert</i>
      <div>More</div>
    </a>
    <div class="divider"></div>
    <label>Label</label>
    <a>
      <i>widgets</i>
      <div>Widgets</div>
    </a>
    <a>
      <i>chat</i>
      <div>Chat</div>
    </a>
    <a>
      <i>help</i>
      <div>Help</div>
    </a>
  </nav>

  <nav class="left drawer m">
    <header>
      <img src="https://www.beercss.com/favicon.png" class="circle">
    </header>
    <a>
      <i>home</i>
      <div>Home</div>
    </a>
    <a>
      <i>search</i>
      <div>Search</div>
    </a>
    <a>
      <i>sound_detection_dog_barking</i>
      <div>Dogs</div>
    </a>
    <a>
      <i>more_vert</i>
      <div>More</div>
    </a>
  </nav>

  <nav class="bottom s">
    <a>
      <i>home</i>
    </a>
    <a>
      <i>search</i>
    </a>
    <a>
      <i>sound_detection_dog_barking</i>
    </a>
    <a>
      <i>more_vert</i>
    </a>
  </nav>

  <div class="field large prefix round fill">
    <i class="front">search</i>
    <input>
    <menu class="min">
      <div class="field large prefix suffix no-margin fixed">
        <i class="front">arrow_back</i>
        <input>
        <i class="front">close</i>
      </div>
      <a class="row">
        <i>history</i>
        <div>Item 1</div>
      </a>
      <a class="row">
        <i>history</i>
        <div>Item 2</div>
      </a>
      <a class="row">
        <i>history</i>
        <div>Item 3</div>
      </a>
    </menu>
  </div>

  <main class="responsive">
    <img src="https://www.beercss.com/beer-and-woman.svg" class="responsive round">
    <h3>Welcome</h3>
    <h5>The beer is ready!</h5>
  </main>
</body>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
