.flexbox {
  display: flex;
}

.dogname {
  padding: 0.5rem 0 0.75rem 0;
  text-align: left;
  font-size: 1.2rem;
  line-height: 50px;
}

.left {
  /*background-color: pink;*/
  flex: 0 0 380px;
}
.right {
  /*background-color: blue;*/
  flex: 1;
}

/* Two columns for viewports > 800px */
@media (max-width: 1101px) {
  .flexbox {
    .left{
    /*grid-template-columns: 1fr 1fr;
    align-items: start;*/
    flex: 1;
    }
    .right{
      /*grid-template-columns: 1fr 1fr;
      align-items: start;*/
      display: none;
      }
  }
}
/*.dog-directory-container {
  height: 100%;
  max-height: 100%;
}
.left {
  background-color: pink;
}
.right {
  background-color: blue;
}
.container,
.content {
  display: flex
}
.content {
  overflow: scroll;
}
.content div {
  overflow: scroll;
}

.dogname {
  padding: 0.5rem 0 0.75rem 0;
  text-align: left;
  font-size: 1.2rem;
  line-height: 50px;
}

/* Two columns for viewports > 800px /
@media (max-width: 1101px) {
  .dog-directory-container {
    .dog-image-column {
    /*grid-template-columns: 1fr 1fr;
    align-items: start;/
    display: none;
    }
  }

  .dog-list-column {
    /* Left column *
  }

  .dog-image-column {
    /* Right column *
    position: sticky;
    top: 1rem;
  }
}
*/
