
.container {
  height: 100%;
  max-height: 100%;
}
.left {
  background-color: pink;
}
.right {
  background-color: blue;
}
.container,
.content {
  display: grid
}
.content {
  overflow: scroll;
}
.content div {
  overflow: scroll;
}

.dogname {
  padding: 0.5rem 0 0.75rem 0;
  text-align: left;
  font-size: 1.2rem;
  line-height: 50px;
}

/* Two columns for viewports > 800px */
@media (min-width: 1101px) {
  .dog-directory-container {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .dog-list-column {
    /* Left column */
  }

  .dog-image-column {
    /* Right column */
    position: sticky;
    top: 1rem;
  }
}
