.header-flexbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  /*background-color: DodgerBlue;*/
}

.leftbutton{ float: left; }
.rightbutton{ float: right; }
.dogNameInput{ font-size: x-large; background-color: transparent; border: none}

h2 {text-decoration: underline; font-size: medium; font-weight: bold ;}
a { font-size: medium;}

.img_text_container {
  display: flex;
  align-items: flex-start;
}

.image img {
  width: 400px;
  height: auto;
  display: block;
}

.right_of_img {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 1280px) {
  .img_text_container {
    flex-direction: column;
    align-items: stretch;
  }
  .right_of_img {
    margin-left: 0;
    margin-top: 24px;
  }
  .image img {
    width: 400px;
    height: auto;
  display: block;
  align-items: center;
  }
}


