<!--
  *****
  The important code for logging-in, signing-up or logging-out, rest code you can manage yourself based on user login/logout scenerio.
  *****
  You can any time check user logging-in/out status in your template using:
  *ngIf="!(authService.user | async)"

  Technical Debt: use Forms rather than input
-->

  <main class="main_padding">
    <div>
      <h4>Login</h4>
    </div>

    <div class="field label small border round fill" >
          <!-- these input fields takes email and password from user -->
              <input type="email" [(ngModel)]="email">
              <label for="email">Email</label>
    </div>

    <div class="field label small border round fill" >
              <input type="password" [(ngModel)]="password">
              <label for="password">Password</label>
    </div>

    <div>
          <!-- user click this button to login -->
          <button (click)="loginWithEmail()" [disabled]="!email || !password">
            Submit
          </button>
    </div>

    <div>
      <p>Don't have an account? <a routerLink="/signup">Sign Up Now</a></p>
    </div>

</main>

<div id="footer">
  Version: {{version}} &nbsp;&nbsp; Logged In Status: {{loggedInStatus}}
</div>





