
.leftbutton{ float: left; }
.rightbutton{ float: right; }
.dogNameInput{ font-size: x-large; background-color: transparent; border: none}

h2 {text-decoration: underline; font-size: medium; font-weight: bold ;}
a { font-size: medium;}

/*span
{
    display: block;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;

}

span > input{ width: 100%; }*/


