<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<body>
  <nav class="drawer l left">
    <header>
      <nav>
        <img alt="Spaniel Salon" src="icon-512x512.png" class="circle">
        <h6>The Spaniel Salon</h6>
      </nav>
    </header>
    <a routerLink="/main/homepage"><i>home</i>Home</a>
    <a routerLink="/main/dog-directory"><i>sound_detection_dog_barking</i>Dogs</a>
    <a routerLink="/main/appointments"><i>calendar_clock</i>Appointments</a>
    <a routerLink="/main/settings"><i>settings</i>Settings</a>
    <div id="sidebarfooter">
      <span>Version: {{version}}</span>
      <p></p>
      <span>Logged In Status: {{loggedInStatus}}</span>
    </div>


  </nav>


  <nav class="m left">
    <header>
      <img alt="Spaniel Salon" src="icon-512x512.png" class="circle">
    </header>
    <a routerLink="/main/homepage" routerLinkActive="activeIcon"
       ariaCurrentWhenActive="page"><i>home</i>Home</a>

    <a routerLink="/main/dog-directory" routerLinkActive="activeIcon"
       ariaCurrentWhenActive="page"><i>sound_detection_dog_barking</i>Dogs</a>

    <a routerLink="/main/appointments" routerLinkActive="activeIcon"
    ariaCurrentWhenActive="page"><i>calendar_clock</i>Appts</a>

    <a routerLink="/main/settings" routerLinkActive="activeIcon"
      ariaCurrentWhenActive="page"><i>settings</i>Settings</a>

    <div id="sidebarfooter">
      Ver: {{version}} Logged In: {{loggedInStatus}}
    </div>
  </nav>

  <nav class="bottom s IconSmall">
    <a routerLink="/main/homepage" routerLinkActive="activeIcon"
    ariaCurrentWhenActive="page"><i>home</i>Home</a>
    <a routerLink="/main/dog-directory" routerLinkActive="activeIcon"
    ariaCurrentWhenActive="page"><i>sound_detection_dog_barking</i>Dogs</a>
    <a routerLink="/main/appointments" routerLinkActive="activeIcon"
    ariaCurrentWhenActive="page"><i>calendar_clock</i>Appointments</a>
    <a routerLink="/main/settings" routerLinkActive="activeIcon"
    ariaCurrentWhenActive="page"><i>settings</i>Settings</a>
    <div id="footer">
      Version: {{version}} &nbsp;&nbsp; Logged In Status: {{loggedInStatus}}
    </div>
  </nav>

  <main>
    <!-- SOME TEXT /////////////////////////////////////////// MORE TEXT -->
    <router-outlet></router-outlet>
  </main>

  </body>





<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




