<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<body>
  <nav *ngIf = "loggedInStatus" class="left drawer l">
    <header>
      <nav>
        <img alt="Spaniel Salon" src="icon-512x512.png" class="circle">
        <h6>The Spaniel Salon</h6>
      </nav>
    </header>
    <a routerLink="/homepage"><i>home</i>Home</a>
    <a routerLink="/dog-directory"><i>sound_detection_dog_barking</i>Dogs</a>
    <a routerLink="/appointments"><i>calendar_clock</i>Appointments</a>
    <a routerLink="/login"><i>logout</i>Logout</a>
    <div id="sidebarfooter">
      <span>Version: {{version}}</span>
      <p></p>
      <span>Logged In Status: {{loggedInStatus}}</span>
    </div>
    
    
  </nav>


  <nav *ngIf = "loggedInStatus" class="left drawer m">
    <header>
      <img alt="Spaniel Salon" src="icon-512x512.png" class="circle">
    </header>
  <a>
    <i>home</i>
    <a routerLink="/homepage" routerLinkActive="active"
       ariaCurrentWhenActive="page">Home</a>
  </a>
  <a>
    <i>sound_detection_dog_barking</i>
    <a routerLink="/dog-directory" routerLinkActive="active"
       ariaCurrentWhenActive="page">Dogs</a>
  </a>
  <a>
    <i>calendar_clock</i>
    <a routerLink="/appointments" routerLinkActive="active"
    ariaCurrentWhenActive="page">Appointments</a>
  </a>
  <a>
    <i>logout</i>
    <a routerLink="/login" routerLinkActive="active"
    ariaCurrentWhenActive="page">Logout</a>
  </a>
  </nav>

  <nav *ngIf = "loggedInStatus" class="bottom s">
    <a routerLink="/homepage"><i>home</i></a>
    <a routerLink="/dog-directory"><i>sound_detection_dog_barking</i></a>
    <a routerLink="/appointments"><i>calendar_clock</i></a>
    <a routerLink="/login"><i>logout</i></a>
    <div id="footer">
      Version: {{version}} &nbsp;&nbsp; Logged In Status: {{loggedInStatus}}
    </div>
  </nav>
   
  <main>
    SOME TEXT /////////////////////////////////////////// MORE TEXT
    <router-outlet></router-outlet>
  </main>

  </body>





<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




