.activeIcon {
  color: goldenrod;
}

.IconSmall {
  font-size: xx-small;
  line-height: 0.7;
}

#footer {
    position: fixed;
    padding: 5px 20px 0px 20px;
    bottom: 60px;
    width: 100%;
    height: 20px;
    background: goldenrod;
    color: white;
    font-size: small;
  }

  #sidebarfooter {
    padding: 0px 0px 0px 0px;
    width: 100%;
    background-color: goldenrod;
    color: white;
  }

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.nav-item i {
  font-size: 24px;
}

.nav-item span {
  font-size: 12px;
}
